body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.top {
    color: white;
    background-color: #1F2937;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:10px;
    padding-top: 20px;
    padding-right: 200px;
    padding-left: 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    font-size: 18px;
    display: flex;
    list-style: none;
    margin-top: 0;
    gap: 25px;
}

.second-item {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
}

.left-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-size: 48px;
    margin: 0;
}

.title-subtext {
    margin: 0;
    font-size: 18px;
}

.placeholder {
    background-color: grey;
    height: 200px;
    width: 400px;
    flex: 1;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    font-size: 18px;
    height: 35px;
    width: 150px;
    border-radius: 10px;
    border: none;
}
