body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/*---------------Top item-----------------*/
.top {
    color: white;
    background-color: #1F2937;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:10px;
    padding-top: 20px;
    padding-right: 200px;
    padding-left: 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    font-size: 18px;
    display: flex;
    list-style: none;
    margin-top: 0;
    gap: 25px;
}

.second-item {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
}

.left-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-size: 48px;
    margin: 0;
}

.title-subtext {
    margin: 0;
    font-size: 18px;
}

.placeholder {
    background-color: grey;
    height: 200px;
    width: 400px;
    flex: 1;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    font-size: 18px;
    height: 35px;
    width: 150px;
    border-radius: 10px;
    border: none;
}

/*-----------------Info item-------------------*/
.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding-top: 40px;
    height: 450px;
}

.image {
    border: 4px solid #3882F6;
    border-radius: 15px;
    height: 147.297px;
    width: 147.297px;
}

.images {
    display: flex;
    gap: 45px;
}

.pair-image {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

h2 {
    font-size: 32px;
    font-weight: bolder;
    margin: 0;
}

.info p {
    color: grey;
    font-size: 17px;
    margin: 0;
}

/*------------Quote----------------*/
.quote-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
}

.quote-author {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.author {
    padding: 0;
    align-self: flex-end;
    margin-right: 20px;
}

.quote p {
    margin: 0;
}

h3 {
    margin: 0;
}

/*------------------Sign up-------------------*/
.sign-up {
    background-color: white;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-container {
    background-color: #3882F6;
    color: white;
    width: 900px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:140px;
    border-radius: 15px;
}

.left-part p {
    margin: 0;
}

.blue-container button {
    border: 2px white solid;
}

/*-------------Footer-----------------*/

.footer {
    height: 100px;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

